@page
@model UI.Pages.Seller.OrderManagementModel
@{
    ViewData["Title"] = "Order Management";
}
<div class="mx-auto max-w-full">
    <div class="mb-6 text-center">
        <h1 class="ml-4 text-left text-2xl font-bold text-black">Order Management</h1>
    </div>

    @if (Model.Orders == null || !Model.Orders.Any())
    {
        <p class="text-black">You don't have any orders yet</p>
    }
    else
    {
        <div class="relative flex h-full w-full flex-col rounded-lg bg-white bg-clip-border text-gray-700 shadow-md">
            <div class="overflow-x-auto">
                <table class="min-w-[1100px] table-auto text-left">
                    <thead>
                        <tr class="border-b border-slate-300 bg-slate-50">
                            <th class="w-1/8 whitespace-nowrap p-6 text-lg font-bold leading-none text-black">No</th>
                            <th class="w-1/4 whitespace-nowrap p-6 text-lg font-bold leading-none text-black">Name</th>
                            <th class="w-[11ch] max-w-[11ch] whitespace-nowrap p-6 text-lg font-bold leading-none text-black">Phone</th>
                            <th class="w-[11ch] max-w-[11ch] whitespace-nowrap p-6 text-lg font-bold leading-none text-black">Order Date</th>
                            <th class="whitespace-nowrap p-6 text-lg font-bold leading-none text-black">Total Price</th>
                            <th class="w-1/4 whitespace-nowrap p-6 text-lg font-bold leading-none text-black">Status</th>
                            <th class="w-1/4 whitespace-nowrap p-6 text-lg font-bold leading-none text-black">Address</th>
                            <th class="w-1/4 whitespace-nowrap p-6 text-lg font-bold leading-none text-black">Note</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            var index = 1;
                        }
                        @foreach (var order in Model.Orders)
                        {
                            <tr class="cursor-pointer hover:bg-slate-50"
                                onclick="location.href='@Url.Page("/Order/StatusTracking", new { orderId = order.Id })'">
                                <td class="border-b border-slate-200 p-6 text-lg">@index</td>
                                <td class="border-b border-slate-200 p-6 text-lg">@order.CustomerName</td>
                                <td class="border-b border-slate-200 p-6 text-lg">@order.Phone</td>
                                <td class="border-b border-slate-200 p-6 text-lg">@order.OrderDate.ToString("dd/MM/yyyy")</td>
                                <td class="border-b border-slate-200 p-6 text-lg">@order.TotalPrice.ToString("C")</td>
                                <td class="border-b border-slate-200 p-6 text-lg">@order.Status</td>
                                <td class="border-b border-slate-200 p-6 text-lg">@order.Address</td>
                                <td class="border-b border-slate-200 p-6 text-lg">@order.Note</td>
                            </tr>
                            index++;
                        }
                    </tbody>
                </table>
            </div>
        </div>
    }
</div>

