@page
@model UI.Pages.ManageShop.ShopModel
@{
    ViewData["Title"] = "Shops";
}

<h1 class="text-3xl font-bold text-center mb-6">Shops</h1>
@{
    var errorModel = new Shared.ErrorMessageModel
            {
                ErrorMessage = Model.ErrorMessage,
                ErrorDetail = Model.ErrorDetail
            };
}
@if (!string.IsNullOrEmpty(Model.ErrorMessage))
{
    <partial name="_ErrorMessage" model="errorModel" />
}

<a asp-page="DeletedShops" class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded mb-6 inline-block">View Deleted Shops</a>

<div class="overflow-x-auto">
    <table class="min-w-full bg-white shadow-md rounded-lg">
        <thead>
            <tr class="bg-gray-200 text-gray-600 uppercase text-sm leading-normal">
                <th class="py-3 px-6 text-left">Name</th>
                <th class="py-3 px-6 text-left">Description</th>
                <th class="py-3 px-6 text-left">Rating</th>
                <th class="py-3 px-6 text-left">Sales</th>
                <th class="py-3 px-6 text-left">Owner</th>
                <th class="py-3 px-6 text-left">Actions</th>
            </tr>
        </thead>
        <tbody class="text-gray-600 text-sm font-light">
            @foreach (var shop in Model.Shops)
            {
                <tr class="border-b border-gray-200 hover:bg-gray-100">
                    <td class="py-3 px-6 text-left">@shop.Name</td>
                    <td class="py-3 px-6 text-left">@shop.Description</td>
                    <td class="py-3 px-6 text-left">@shop.Rating</td>
                    <td class="py-3 px-6 text-left">@shop.TotalSales</td>
                    <td class="py-3 px-6 text-left">@shop.ownerName</td>
                    <td class="py-3 px-6 text-left">
                        <a asp-page="Delete" asp-route-id="@shop.Id" class="bg-red-500 hover:bg-red-800 text-white font-bold py-1 px-3 rounded text-xs ml-2">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@{
    var paginationModel = new Shared.PaginationModel
            {
                PageNumber = Model.PageNumber,
                PageSize = Model.PageSize,
                HasNextPage = Model.HasNextPage
            };
}

<partial name="~/Pages/Shared/_Pagination.cshtml" model="paginationModel" />
